extends layout

block content
  a(class="prev-page", href=`/page/${page - 1}`) Prev Page
  a(class="next-page", href=`/page/${page + 1}`) Next Page

  p(class="page-number") Page #{page}

  br
  each article in articles
    div
      a(href=article.url)
        h3= article.title
      p Published at 
        em= article.publishedAt
      p= article.description
    br
  br

  p(class="page-number") Page #{page}

  a(class="prev-page", href=`/page/${page - 1}`) Prev Page
  a(class="next-page", href=`/page/${page + 1}`) Next Page
