extends layout

block content
  p(class="page-number") Page #{page}
  br
  each article in articles
    div
      a(href=article.url)
        h3= article.title
      p Published at 
        em= article.publishedAt
      p= article.description
    br
  br
  p(class="page-number") Page #{page}
